<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ODMO_DBViewer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ODMO_DBViewer.My.MySettings>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UseWindowsAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveConnection" serializeAs="String">
                <value>False</value>
            </setting>
        </ODMO_DBViewer.My.MySettings>
    </userSettings>
</configuration>
